{% extends 'base.html' %}

{% block body%}
<div class="perfil" id="fundo">
        <div class="section">
                <div class="container">
                <div class="row full-height justify-content-center">
                        <div class="col-12 text-center align-self-center py-0">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                                <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                        <div class="card-front2 card2 gradient-background">
                                        <div class="center-wrap">
                                                <form method="POST" action="">
                                                {{ form_criar_conta.csrf_token }}
                                                <fieldset>
                                                        <div class="section text-center">
                                                                <h4 class="mb-0 pb-0">Criar Conta</h4>
                                                                <div class="edição-single form-group mb-2 pb-0 ">
                                                                        {% if form_criar_conta.username.errors %}
                                                                                {{ form_criar_conta.username(class='edição is-invalid') }}
                                                                        <div class="edição-single invalid-feedback">
                                                                                {% for erro in form_criar_conta.username.errors %}
                                                                                        {{erro}}
                                                                                {% endfor %}
                                                                        </div>
                                                                        {% else %}
                                                                                {{ form_criar_conta.username(class="edição") }}
                                                                        {% endif %}
                                                                        
                                                                        {{ form_criar_conta.username.label}}
                                                                </div>	
                                                                <div class="edição-single form-group">
                                                                        <div class="input-container">
                                                                          {% if form_criar_conta.email.data %}
                                                                            {{ form_criar_conta.email(class='edição filled') }}
                                                                            {{ form_criar_conta.email.label(class='filled') }}
                                                                          {% else %}
                                                                            {{ form_criar_conta.email(class="edição") }}
                                                                            {{ form_criar_conta.email.label }}
                                                                          {% endif %}
                                                                        </div>
                                                                        {% if form_criar_conta.email.errors %}
                                                                          <div class="invalid-feedback">
                                                                            {% for erro in form_criar_conta.email.errors %}
                                                                              {{ erro }}
                                                                            {% endfor %}
                                                                          </div>
                                                                        {% endif %}
                                                                    </div>	
                                                                    <div class="edição-single form-group">
                                                                        <div class="input-container">
                                                                          {% if form_criar_conta.password.data %}
                                                                            {{ form_criar_conta.password(class='edição filled') }}
                                                                            {{ form_criar_conta.password.label(class='filled') }}
                                                                          {% else %}
                                                                            {{ form_criar_conta.password(class="edição") }}
                                                                            {{ form_criar_conta.password.label }}
                                                                          {% endif %}
                                                                        </div>
                                                                        {% if form_criar_conta.password.errors %}
                                                                          <div class="invalid-feedback">
                                                                            {% for erro in form_criar_conta.password.errors %}
                                                                              {{ erro }}
                                                                            {% endfor %}
                                                                          </div>
                                                                        {% endif %}
                                                                </div>
                                                                <div class="edição-single form-group">
                                                                        <div class="input-container">
                                                                          {% if form_criar_conta.confirm_password.data %}
                                                                            {{ form_criar_conta.confirm_password(class='edição filled') }}
                                                                            {{ form_criar_conta.confirm_password.label(class='filled') }}
                                                                          {% else %}
                                                                            {{ form_criar_conta.confirm_password(class="edição") }}
                                                                            {{ form_criar_conta.confirm_password.label }}
                                                                          {% endif %}
                                                                        </div>
                                                                        {% if form_criar_conta.confirm_password.errors %}
                                                                          <div class="invalid-feedback">
                                                                            {% for erro in form_criar_conta.confirm_password.errors %}
                                                                              {{ erro }}
                                                                            {% endfor %}
                                                                          </div>
                                                                        {% endif %}
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <a href="{{ url_for('login') }}" class="link">Fazer Login</a>
                                                        </div>
                                                </fieldset>
                                                
                                                {{ form_criar_conta.submit_criar_conta (class="btn  mt-4")}}
                                        </form>
                                        </div>
                                </div>
                        </div>
                        </div>
                </div>
                </div>
        </div>
</div>               
{% endblock %}